#outer {
	width: 200px;
	height: 200px;
	background-color: red;
}

#middle {
	width: 50%;
	height: 50%;
	position: relative;
	top: 25%;
	left: 25%;
	background-color: green;
}

#inner {
	width: 50%;
	height: 50%;
	position: relative;
	top: 25%;
	left: 25%;
	background-color: blue;
}